<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lisans_Tezi_Mvc</title>
  
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lisans_Tezi_Mvc.styles.css" asp-append-version="true" />
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">



    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <link href="~/lib/datatables.net/dataTables.bootstrap5.min.css" rel="stylesheet" />

    <link href="~/lib/confirm/jquery-confirm.css" rel="stylesheet" />

</head>
<body>
    <header style="background:#69AB3D;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow m">
            <div class="container-fluid" style="background-color:#69AB3D">
                <a class="navbar-brand" style="background-color:#295D09; color:white !important;" asp-area="" asp-controller="Home" asp-action="Index">eCrOp - ERP Sistemi</a>
                <button class="navbar-toggler" data-toggle="collapse" hreft=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                          

                            <a class="btn btn-success" style="background-color:#69AB3D;color:white;border:none" asp-area="" asp-controller="Home" asp-action="Index"> <i class="material-icons">search</i> </a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="iconButton" asp-area="" asp-controller="Home" asp-action="Index" style="background-color:#69AB3D;color:white; border:none" text="ddddddddd"><i class="material-icons">notifications</i></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="iconButton" asp-area="" asp-controller="Home" asp-action="Index" style="background-color:#69AB3D;color:white; border:none" text="ddddddddd"><i class="material-icons">close</i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">

        <main role="main" class="pb-3">
          <div class="row">

                <div class="col-md-3">

                    <div class="image" style="margin: 0 auto">
                            <img src="../../images/kullanıcıArkaPlan.jpeg" alt="User" />
                        </div>
                

                    <div class="flex-shrink-0 p-3 bg-white" style="width: 340px;">
                        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                            <svg class="bi me-2" width="30" height="24"> <use xlink:href="#bootstrap"> </use> </svg>

                            <span class="fs-5 fw-semibold"> Anasayfa</span>
                        </a>
                        <ul class="list-unstyled ps-0">
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" style="background-color:white;font-size:18px" data-toggle="collapse" href="#stock-collapse" aria-expanded="true" aria-controls="stock-collapse">
                                    Stok
                                </button>
                                <div class="collapse show mx-4" id="stock-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li>
                                         
                                            <div class="collapse show mx-4" id="saved_collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li> <a asp-action="Index" asp-controller="StockInformation" class="link-dark rounded"> Stok Kartı Kayıtları</a> </li>
                                                    <li> <a asp-action="StockTransactionRecords" asp-controller="Stock" class="link-dark rounded"> Stok Hareket Kayıtları</a> </li>
                                                    <li> <a asp-action="GroupCodeRecords" asp-controller="Stock" class="link-dark rounded"> Stok Kod Kayıtları</a> </li>
                                                    <li> <a asp-action="AccountingDetailCodeEntry" asp-controller="Stock" class="link-dark rounded"> Muhasebe Detay Kod Girişi</a> </li>
                                                    <li> <a asp-action="BarcodeRecords" asp-controller="Stock" class="link-dark rounded">Barkod Kayıtları</a> </li>
                                                    <li> <a asp-action="WarehouseDefinition" asp-controller="Stock" class="link-dark rounded">Depo İşlemleri</a> </li>
                                                  
                                                    <li> <a asp-action="StockEntryExitMovements" asp-controller="Stock" class="link-dark rounded">Stok Giriş-Çıkış Hareketleri</a> </li>
                                                    <li> <a asp-action="EmployeeDefinition" asp-controller="EmployeeDefinition" class="link-dark rounded">Personel Tanımlama</a> </li>
                                                    
                                                    
                                                    
                                              
                                                </ul>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                              
                            </li>
                            <li class="border-top my-3"> </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-toggle="collapse" style="background-color:white;font-size:18px" href="#dashboard-collapse" aria-expanded="false">
                                    Finans ve Muhasebe
                                </button>
                                <div class="collapse mx-4" id="dashboard-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                       
                                        
                                        <li> <a asp-action="CurrentCardIdentification" asp-controller="Accounting" class="link-dark rounded"> Cari Kart Tanımlama</a> </li>
                                        <li> <a asp-action="AccountingCodeDefinition" asp-controller="AccountingCodeDefinition" class="link-dark rounded"> Muhasebe Kod Tanımlama</a> </li>
                                        <li> <a asp-action="UniformChartOfAccountsEntry" asp-controller="Accounting" class="link-dark rounded">Tek Düzen Hesap Planı Girişi</a> </li>
                                        <li> <a asp-action="AlternativeChartOfAccountsEntry" asp-controller="Accounting" class="link-dark rounded"> Alternatif Hesap Planı Girişi</a> </li>
                                        <li> <a asp-action="CreditNote" asp-controller="Accounting" class="link-dark rounded">Borç Dekontu</a> </li>
                                        <li> <a asp-action="DebitMemo" asp-controller="Accounting" class="link-dark rounded">Alacak Dekontu</a> </li>
                                        <li> <a asp-action="CurrentTransferVir" asp-controller="Accounting" class="link-dark rounded"> Cari Virman</a> </li>
                                
                                        <li> <a asp-action="IncomingTransfer" asp-controller="Accounting" class="link-dark rounded">Gelen Havale</a> </li>
                                        <li> <a asp-action="OutgoingRemittance" asp-controller="Accounting" class="link-dark rounded">Giden Havale</a> </li>
                                        <li> <a asp-action="OffsetReceiptEntry" asp-controller="Accounting" class="link-dark rounded">Mahsup Fiş Girişi</a> </li>
                             
                       
                                    </ul>
                                </div>
                            </li>
                            <li class="border-top my-3"> </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" style="background-color:white;font-size:18px" data-toggle="collapse" href="#orders-collapse" aria-expanded="false">
                                    Üretim ve Planlama
                                </button>
                                <div class="collapse mx-4" id="orders-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        
                                        <li> <a asp-action="PrescriptionRegistration" asp-controller="Production" class="link-dark rounded">Reçete Kaydı</a> </li>
                                        <li> <a asp-action="MachineIdentification" asp-controller="Production" class="link-dark rounded">Makine Tanımlama</a> </li>
                                        <li> <a asp-action="OperationDescription" asp-controller="Production" class="link-dark rounded">Operasyon Tanımlama</a> </li>
                                        <li> <a asp-action="OperatorTypesDescription" asp-controller="Production" class="link-dark rounded">Operator Tip Tanımlama</a> </li>
                                        <li> <a asp-action="OperatorDescription" asp-controller="Production" class="link-dark rounded">Operator Tanımlama</a> </li>
                               
                                        <li> <a asp-action="ProductGroupDefinitions" asp-controller="Production" class="link-dark rounded">Ürün Grubu Tanımlama</a> </li>
                                        <li> <a asp-action="ProductionOrderEntry" asp-controller="Production" class="link-dark rounded">Üretim Emri Girişi</a> </li>
                                        <li> <a asp-action="ProductionRecord" asp-controller="Production" class="link-dark rounded">Üretim Kaydı</a> </li>
                                        <li> <a asp-action="ProductStages" asp-controller="Production" class="link-dark rounded">Ürün Aşamalar</a> </li>
                                        <li> <a asp-action="WorkstationIdentification" asp-controller="Production" class="link-dark rounded">İş İstasyonu Tanımlama</a> </li>
                                        <li> <a asp-action="WaterFootPrint" asp-controller="Production" class="link-dark rounded">Su Ayak İzi</a> </li>
                                        <li> <a asp-action="CarbonFootprint" asp-controller="Production" class="link-dark rounded">Karbon Ayak İzi Hesaplama</a> </li>
                                        <li> <a asp-action="SafetyStock" asp-controller="Production" class="link-dark rounded">Güvenlik Stoğu</a> </li>
                     
                                    </ul>
                                </div>
                            </li>
                         

                            <li class="border-top my-3"> </li>
                        
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" style="background-color:white;font-size:18px" data-toggle="collapse" href="#raporlar-collapse" aria-expanded="false">
                                    Raporlar
                                </button>
                                <div class="collapse show mx-4" id="raporlar-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li>

                                            <div class="collapse show mx-4" id="saved_collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li> <a asp-action="StockTransactionRecordsReport" asp-controller="Report" class="link-dark rounded"> Stok Hareket Kayıtları</a> </li>
                                                    <li> <a asp-action="StockLatestStatusList" asp-controller="Report" class="link-dark rounded">Stok Son Durum Listesi</a> </li>


                                                </ul>
                                            </div>
                                        </li>


                                    </ul>
                                </div>

                            </li>

                            <li class="border-top my-3"> </li>

                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" style="background-color:white;font-size:18px" data-toggle="collapse" href="#genel-collapse" aria-expanded="false">
                                    Genel İşlemler
                                </button>
                                <div class="collapse show mx-4" id="genel-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li>

                                            <div class="collapse show mx-4" id="saved_collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li> <a asp-action="BarcodeTypeDefinition" asp-controller="BarcodeTypeDefinition" class="link-dark rounded"> Barkod Tipi Tanımlama</a> </li>
                                                    <li> <a asp-action="CurrencyDefinition" asp-controller="CurrencyDefinition" class="link-dark rounded">Para Birimi Tanımlama</a> </li>
                                                    <li> <a asp-action="MadeOfDefinition" asp-controller="MadeOfDefinition" class="link-dark rounded">Mamul Tanımlama</a> </li>
                                                    <li> <a asp-action="UnitofMeasureDefinition" asp-controller="UnitofMeasureDefinition" class="link-dark rounded">Ölçü Birimi Tanımlama</a> </li>


                                                </ul>
                                            </div>
                                        </li>


                                    </ul>
                                </div>

                            </li>


                        </ul>
                    </div>
           
             </div>

                <div class="col-md-9" >
                 
                    <div class="col-md-12" style="background-color:white">@RenderBody()</div>

                </div>
               </div>
        
        </main>
    </div>
   
      
        
    

 

  @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Lisans_Tezi_Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@







    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/confirm/jquery-confirm.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
