@{
    Layout = "~/Views/Accounting/IncomingTransfer/_LayoutIncomingTransfer.cshtml";
    ViewData["Title"] = "IncomingTransfer";
}
@model dynamic

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="post">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body"><label>GELEN HAVALE</label></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Fiş No :</label>
                                                </div>
                                                <div class="col-md-3 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Alacaklı Banka Hesap Kodu :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Nitelik:</label>



                                                    <select name="cars" id="cars">
                                                        <option selected>Seçiniz</option>
                                                        <option value="saab">Havale</option>
                                                        <option value="saab">EFT</option>

                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Tarih :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Alacaklı Banka Hesabı Adı :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Tutar:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>

                                            <div class="row mt-2">

                                                <div class="col-md-3 text-start">
                                                    <button type="submit" class="btn btn-success">Kaydet</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>