
@{
    Layout = "~/Views/Stock/StockCodeRecords/_LayoutStockCodeRecords.cshtml";
    ViewData["Title"] = "GroupCodeRecords";
}
   <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <label for="stok_kodu">Grup Kodu:</label>
                                </div>
                                <div class="col-md-4 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                                <div class="col-md-2">
                                    <label for="stok_kodu">Grup İsmi:</label>
                                </div>
                                <div class="col-md-4 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                             
                            </div>

                        </div>


                     


                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="card">
                                   
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="stok_kodu">İşletmelerde Ortak</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>

                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-success">btn</button>
                                            </div>
                                         
                                            <div class="col-md-3">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>

                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-success">btn</button>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                   
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="stok_kodu">Şubelerde Ortak</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>

                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-success">btn</button>
                                            </div>
                                         
                                            <div class="col-md-3">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>

                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-success">btn</button>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


              
              


                            <div class="row mt-2">
                                <div class="col">
                                 <table class="table">
                                     <thead>
                                       <tr>
                                         <th scope="col">#</th>
                                         <th scope="col">Grup Kodu</th>
                                         <th scope="col">Grup İsmi</th>
                                        
                                       </tr>
                                     </thead>
                                     <tbody>
                                       <tr>
                                         <th scope="row">1</th>
                                         <td>2</td>
                                         <td>A</td>
                                      
                                       </tr>
                                       <tr>
                                        <th scope="row">2</th>
                                        <td>5</td>
                                        <td>G</td>
                                       
                                       </tr>
                                       <tr>
                                        <th scope="row">3</th>
                                         <td>7</td>
                                         <td>Z</td>
                                       </tr>
                                       <tr>
                                        <th scope="row">4</th>
                                         <td>8</td>
                                         <td>O</td>
                                       </tr>
                                     </tbody>
                                   </table>


                        </div>
                         </div>
                         
                    </div>
                           </form>
                </div>  
            </div>
           
            </div>

