
@{
    Layout = "~/Views/Stock/StockCodeRecords/_LayoutStockCodeRecords.cshtml";
    ViewData["Title"] = "StockMeasurePrice";
}

  <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="post">
                    <div class="row">
                        <div class="col-md-12">
                  


                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <label for="stok_kodu">Kod Türü:</label>
                                </div>
                                <div class="col-md-3 text-start">
                                    <div class="custom-select">
                                        <select>
                                          <option value="0">Grup Kodu:</option>
                                          <option value="1">Ad</option>
                                        </select>
                                      </div>
                                </div>

                                <div class="col-md-1">
                                    <label for="stok_kodu">Kod:</label>
                                </div>
                                <div class="col-md-4 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>

                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary">btn</button>
                                </div>
                             
                            </div>

                        </div>


                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="card">
                                   
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <label for="stok_kodu">Ölçü Birimi</label>
                                            </div>
                                            <div class="col">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>
                                            
                                            <div class="col">
                                                <button type="button" class="btn btn-primary">btn</button>
                                            </div>

                                            <div class="col">
                                                <label for="stok_kodu">Açıklama</label>
                                            </div>
                                            <div class="col">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>

                                            

                                           
                                           

                
                                        </div>

                                        <div class="row mt-1">
                                            <div class="col-md-12">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="stok_kodu">Net Ağırlık</label>
                                                </div>

                                                <div class="col">
                                                    <input class="form-control " id="stok_kodu" type="number">
                                                </div>
                                                
                                                <div class="col">
                                                    <label for="stok_kodu">Brüt Ağırlık</label>
                                                </div>

                                                <div class="col">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>

                                                
                                                <div class="col">
                                                    <label for="stok_kodu">En</label>
                                                </div>

                                                <div class="col">
                                                    <input class="form-control " id="stok_kodu" type="number">
                                                </div>
                                              
                                                <div class="col">
                                                    <label for="stok_kodu">Boy</label>
                                                </div>

                                                <div class="col">
                                                    <input class="form-control " id="stok_kodu" type="number">
                                                </div>
                                                <div class="col">
                                                    <label for="stok_kodu">Yükseklik</label>
                                                </div>

                                                <div class="col">
                                                    <input class="form-control " id="stok_kodu" type="number">
                                                </div>
                                        </div>
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ö.Birim</th>
                                        <th scope="col">Açıklama</th>
                                        <th scope="col">Pay</th>
                                        <th scope="col">Payda</th>
                                        <th scope="col">Net Ağırlık</th>
                                        <th scope="col">Brüt Ağırlık</th>
                                        <th scope="col">En</th>
                                        <th scope="col">Boy</th>
                                        <th scope="col">Yükseklik</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>fat</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>twitter</td>
                                      </tr>
                                    </tbody>
                                  </table>

                            </div>
                        </div>
              </div>
                </div>

            </form>
              </div>
            
            </div>
        </div>

