@{
    Layout = "~/Views/Production/OperatorTypesDescription/_LayoutOperatorTypesDescription.cshtml";
    ViewData["Title"] = "OperatorTypesDescription";
}


<div class="container" style="background-color: grey;">
    <div class="row">
        <div class="col-md-12">
            <form action="post">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <label>OPERATÖR TÜRLERİ</label>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Operatör Tür Kodu:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                                <div class="col-md-1 text-start">
                                                    <button type="button" class="btn btn-success">Seçiniz</button>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            A/P
                                                        </label>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Operatör Tür Adı:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <h5 class="card-header">Bu Türdeki Operatörler</h5>
                                                <div class="card-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Operatör Kodu  </th>
                                                                <th scope="col">Operatör Adı </th>




                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>


                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>

                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td colspan="2">Larry the Bird</td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>





                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>