@{
    Layout = "~/Views/Production/OperatorTypesDescription/_LayoutOperatorTypesDescription.cshtml";
    ViewData["Title"] = "OperatorTypesDescription";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-controller="OperatorTypesDescription" asp-action="CreateOperatorTypesDescription">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <label>OPERATÖR TÜRLERİ</label>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="OPERATOR_TUR_KODU">Operatör Tür Kodu:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="OPERATOR_TUR_KODU" name="OPERATOR_TUR_KODU" type="text">
                                                </div>
                                              
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="A_P" name="A_P">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            A/P
                                                        </label>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="OPERATOR_TUR_ADI">Operatör Tür Adı:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="OPERATOR_TUR_ADI" name="OPERATOR_TUR_ADI" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-md-1 text-start">
                                            <button type="submit" class="btn btn-success">Ekle</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            <div class="row mt-3">
                <div class="col">

                    @if (ViewBag.data1 != null && ViewBag.data1.Count > 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Operatör Tür Kodu  </th>
                                    <th scope="col">Operatör Tür Adı </th>
                                    <th scope="col">A/P </th>




                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.data1)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>@item.OPERATOR_TUR_KODU</td>
                                        <td>@item.OPERATOR_TUR_ADI</td>
                                        <td>@item.A_P</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Kayıt bulunamadı.</p>
                    }

                </div>

            </div>

        </div>
    </div>
</div>