@{
    Layout = "~/Views/Production/OperatorTypesDescription/_LayoutOperatorTypesDescription.cshtml";
    ViewData["Title"] = "OperatorTypesDescription";
}

@model OperatorTypesDescription

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row align-items-end">
                                <div class="col-sm-6 ">
                                    <h1>Operatör Türü Tanımlama</h1>
                                </div>


                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item">
                                            <form action="/OperatorTypesDescription/OperatorTypesDescriptionNew" method="post">
                                                <button type="submit" class="btn btn-block btn-success">Yeni Operatör Türü Kaydı</button>
                                            </form>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>

    <div class="card card-solid">
        <div class="card-body pb-0">
            <table id="stokCardTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Operatör Türü Kodu</th>
                        <th>Operatör Türü Adı</th>
                        <th>İşlem</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                    {
                        <tr>
                            <td>@row["OPERATOR_TUR_KODU"]</td>
                            <td>@row["OPERATOR_TUR_ADI"]</td>                           
                            <td style="width:50px;">
                                <a href="#" data-id="@row["Id"]" onclick="editTypeKayıt(@row["Id"])">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>


            <form method="post" id="typeForm" name="typeForm">
                <input type="hidden" value="" name="Id" />
            </form>


        </div>



    </div>

</div>

<script>


    function editTypeKayıt(id) {


        $("#typeForm input[name=Id]").attr("value", id)

        $("#typeForm").attr("action", "/OperatorTypesDescription/OperatorTypesDescriptionEdit").submit();

    }

</script>
