@{
    Layout = "~/Views/Accounting/CurrentCardIdentification/_LayoutCurrentCardIdentification.cshtml";
    ViewData["Title"] = "CurrentCardIdentification";
}
<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <form action="post">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <label>CARİ KART TANIMLARI</label>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Cari Kodu:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Ünvan:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mt-1">

                                                <div class="col-md-8 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-8">
                                                <div class="card">
                                                    <h5 class="card-header">Tanımlamalar</h5>
                                                    <div class="card-body">
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="stok_kodu">Adres:</label>
                                                            </div>
                                                            <div class="col-md-8 text-start">
                                                                <input class="form-control " id="stok_kodu" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="stok_kodu">Posta Kodu:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " id="stok_kodu" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="stok_kodu">Vergi Dairesi:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " id="stok_kodu" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="stok_kodu">Vergi No:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " id="stok_kodu" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="stok_kodu">Telefon:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " id="stok_kodu" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="stok_kodu">Fax:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " id="stok_kodu" type="text">
                                                            </div>
                                                        </div>

                                                        <div class="row mt-1">
                                                            <div class="col-md-4">
                                                                <label for="stok_kodu">Muhasebe Detay Kodu:</label>
                                                            </div>
                                                            <div class="col-md-4 text-start">
                                                                <input class="form-control " id="stok_kodu" type="text">
                                                            </div>
                                                        </div>

                                                        <div class="row mt-2">
                                                            <div class="col-md-4">
                                                                <label for="stok_kodu">Varsayılan İşlem Para Birimi:</label>
                                                            </div>


                                                            <div class="col-md-4">
                                                                <select name="cars" id="cars">
                                                                    <option selected disabled value=""> Seçiniz..</option>
                                                                    <option value="volvo">TL</option>
                                                                    <option value="saab">EUR</option>
                                                                    <option value="mercedes">USD</option>

                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
