@{
    Layout = "~/Views/Production/WorkstationIdentification/_LayoutWorkstationIdentification.cshtml";
    ViewData["Title"] = "WorkstationIdentification";
}

<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <form action="post">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class=" card">
                                <div class=" card-body">
                                    <label>İŞ İSTASYONU TANIMLAMA</label>
                                </div>
                            </div>

                            <div class=" card">
                                <div class=" card-body">
                                    <div class=" row">
                                        <div class="col-md-6">

                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">İstasyon Kodu:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                                <div class="col-md-1 text-start">
                                                    <button type="button" class="btn btn-success">Seçiniz</button>
                                                </div>
                                            </div>



                                            <div class="row mt-3">
                                                <div class="col">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            A/P
                                                        </label>
                                                    </div>


                                                </div>

                                            </div>




                                        </div>
                                        <div class=" col-md-6">

                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">İstasyon Adı:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Operatör Kodu:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Makine Kodu:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Üretim Süresi:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Hazırlık Süresi:</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row mt-3">



                                            <div class="col-md-1 text-start">
                                                <button type="button" class="btn btn-secondary">Kaydet</button>
                                            </div>

                                            <div class="col-md-1 text-start">
                                                <button type="button" class="btn btn-secondary">Sil</button>
                                            </div>
                                            <div class="col-md-1 text-start">
                                                <button type="button" class="btn btn-secondary">Güncelle</button>
                                            </div>



                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

            </form>
        </div>
    </div>
</div>