@{
    Layout = "~/Views/Accounting/DebitMemo/_LayoutDebitMemo.cshtml";
    ViewData["Title"] = "DebitMemo";
}
@model dynamic

<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <form action="post">

                <div class="row">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body"><label>ALACAK DEKONTU</label></div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Belge No :</label>
                                                </div>
                                                <div class="col-md-3 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Cari Hesap Kodu :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Nitelik:</label>



                                                    <select name="cars" id="cars">
                                                        <option selected>Seçiniz</option>
                                                        <option value="saab">Havale</option>
                                                        <option value="saab">EFT</option>

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Dekont Tutarı :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Tarih :</label>
                                                </div>
                                                <div class="col-md-4 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Cari Hesap Adı :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Açıklama :</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                            <div class="row mt-1">
                                                <div class="col-md-6">
                                                    <label for="stok_kodu">Toplam Borç:</label>
                                                </div>
                                                <div class="col-md-6 text-start">
                                                    <input class="form-control " id="stok_kodu" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
