a{
    text-decoration:none;
    color:rgb(64,64,64) !important;
}
.tabmenu {
    font-size:10px !important;
    margin-right:0!important; 
}
.container {
    font-size: 10px !important;
    margin-right: 0 !important;
}
.btn {
    font-size: 10px;
    margin-right: 0 !important;
    background-color: #69AB3D;
}


.treeview .list-group-item {
    cursor: pointer
}

.treeview span.indent {
    margin-left: 10px;
    margin-right: 10px
}

.treeview span.icon {
    width: 12px;
    margin-right: 5px
}

.treeview .node-disabled {
    color: silver;
    cursor: not-allowed
}

.node-treeview1 {
}

    .node-treeview1:not(.node-disabled):hover {
        background-color: #F5F5F5;
    }






.card-primary.card-outline {
    border-top: 3px solid #007bff;
    margin-top: 10px;
}

.card {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}



.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #007bff;
}


label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
    margin-bottom: 12px;
}

.form-group {
    margin-bottom:10px;

}

.stokBar{
    font-size:16px;
}

.content-header {
    padding: 15px 0.5rem;

}

.content-header h1 {
    font-size: 1.4rem;
    margin: 0;
}

