
@{
    Layout = "~/Views/Stock/AccountingDetailCodeEntry/_LayoutAccountingDetailCodeEntry.cshtml";
    ViewData["Title"] = "AccountingDetailCodeEntry";
}


 <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <form action="post">
                    <div class="row">
                        <div class="col-md-12">
                  


                            <div class="row mt-2">
                                <div class="col-md-2">
                                    <label for="stok_kodu"> Detay Kodu:</label>
                                </div>
                                <div class="col-md-4 text-start">
                                <select id="STOK_ADI" name="STOK_ADI" class="form-control">
                                    <option value="">Seçiniz</option>

                                </select>
                                </div>
                            

                           
                             
                            </div>

                        </div>


                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="card">
                                   
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                            <div class="col">
                                                <label for="stok_kodu">Alış Hesabı</label>
                                            </div>
                                            <div class="col">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>
                                        
                                            <div class="col">
                                                <button type="button" class="btn btn-success">btn</button>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col">
                                                <label for="stok_kodu">Alıştan İade Hesabı</label>
                                            </div>
                                            <div class="col">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>
                                            
                                            <div class="col">
                                                <button type="button" class="btn btn-success">btn</button>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col">
                                                <label for="stok_kodu">Satış Hesabı</label>
                                            </div>
                                            <div class="col">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>
                                            
                                            <div class="col">
                                                <button type="button" class="btn btn-success">btn</button>
                                            </div>

                                        </div>
                                        <div class="row mt-1">
                                            <div class="col">
                                                <label for="stok_kodu">Satıştan İade Hesabı</label>
                                            </div>
                                            <div class="col">
                                                <input class="form-control " id="stok_kodu" type="number">
                                            </div>
                                            
                                            <div class="col">
                                                <button type="button" class="btn btn-success">btn</button>
                                            </div>

                                        </div>
                                     
                                        

                                         
                
                                        </div>

                                    
                                </div>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Detay Kodu</th>
                                        <th scope="col">Detay Açıklama</th>
                                        <th scope="col">Şube Kodu</th>
                                        <th scope="col">Alış Hesabı</th>
                                        <th scope="col">Satıştan İade Hesabı</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>001/td>
                                        <td>SS</td>
                                        <td>03</td>
                                        <td>310</td>
                                        <td>02</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>002</td>
                                        <td>DD</td>
                                        <td>310</td>
                                        <td>04</td>
                                        <td>02</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>003</td>
                                        <td>NN</td>
                                        <td>310</td>
                                        <td>06</td>
                                        <td>02</td>
                                      </tr>
                                    </tbody>
                                  </table>

                            </div>
                        </div>
              </div>
                </div>
            </form>
              </div>
            </div>
        </div>

