
@{
    Layout = "_Layout";
}




<div class="container shadow stockcard py-2">
    <div class="row mt-2" >
        <div class="col-md-12  nav-pills">
            <ul class="nav nav-pills stokBar">
                <li class="nav-item">
                    <a class="nav-link active" asp-action="Index" asp-controller="StockInformation">Stok Kartı Tanımlama</a>
                </li>
               
              
                

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @RenderBody()
    </div>
</div>

