@{
    Layout = "~/Views/Stock/StockCardRecords/_LayoutStockCardRecords.cshtml";
    ViewData["Title"] = "StockCardEdit";
}

@model dynamic


<div class="row" style="padding-top: 10px;">
    <!-- left column -->
    <div class="col-md-9">
        <!-- form start -->
        <form action="/admin/yoneticiler/kaydet" method="post" enctype="multipart/form-data" name="yoneticiCRUDform" id="yoneticiCRUDform">
            <div class="card card-primary card-outline">
                <!-- card-header -->
                <div class="card-header">
                    <h3 class="card-title">Stok Kart Düzenle*</h3>
                    <ul class="nav nav-pills" style="float: right;" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a data-toggle="tab" class="nav-link active" data-bs-toggle="pill" data-bs-target="#genel" role="tab" aria-controls="genel" aria-selected="true">Genel</a>
                         </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="pill" data-bs-target="#iletisim" role="tab" aria-controls="iletisim" aria-selected="false">İletişim</a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-header -->

                <!-- card-body -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="genel" role="tabpanel" aria-labelledby="genel">
                            <h3>genel</h3>
                        </div>
                        
                        <div class="tab-pane fade" id="iletisim" role="tabpanel" aria-labelledby="iletisim">
                            <h3>iletişim</h3>
                        </div>
                     </div>
                </div>
                <!-- /.card-body -->

                <!-- card-footer -->
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-danger" id="cariKartSil">
                        <i class="fas fa-trash-alt"></i>
                        &nbsp;Sil
                    </button>
                    <button type="button" class="btn btn-primary" id="cariKartVazgec">
                        <i class="fa fa-backward"></i>
                        &nbsp;Vazgeç
                    </button>
                    <button type="submit" class="btn btn-primary" id="cariKartKaydet">
                        <i class="fa fa-save"></i>
                        &nbsp;Kaydet
                    </button>
                </div>
                <!-- //.card-footer -->
            </div>

        </form>
    </div>
</div>

