@{
    Layout = "~/Views/Stock/StockCardRecords/_LayoutStockCardRecords.cshtml";
    ViewData["Title"] = "StockCardEdit";

}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StockCardEdit



<div class="row" style="padding-top: 10px;">
    <!-- left column -->
    <div class="col-md-9">
        <!-- form start -->
        <form action="/admin/yoneticiler/kaydet" method="post" enctype="multipart/form-data" name="yoneticiCRUDform" id="yoneticiCRUDform">
            <div class="card card-primary card-outline">
                <!-- card-header -->
                <div class="card-header">
                    <h3 class="card-title">Stok Kart Düzenle*</h3>
                    <ul class="nav nav-pills" style="float: right;" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a data-toggle="tab" class="nav-link active" data-bs-toggle="pill" data-bs-target="#genel" role="tab" aria-controls="genel" aria-selected="true">Genel</a>
                         </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="pill" data-bs-target="#fiyat" role="tab" aria-controls="fiyat" aria-selected="false">Fiyat</a>
                        </li>
                    </ul>
                </div>
                <!-- /.card-header -->

                <!-- card-body -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="genel" role="tabpanel" aria-labelledby="genel">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="stokKodu">Stok Kodu</label>
                                        <input id="stokKodu" name="stokKodu" readonly type="text" class="form-control " placeholder="0000000001">
                                    </div>
                                    <div class="form-group">
                                        <label for="stokAdi">Stok Adi</label>
                                        <input id="stokAdi" name="stokAdi" type="text" class="form-control " >
                                    </div>
                                    <div class="form-group">
                                        <label for="stokRiskSuresi">Risk Süresi</label>
                                        <input id="stokRiskSuresi" name="stokRiskSuresi" type="text" class="form-control ">
                                    </div>
                                    <div class="form-group">
                                        <label>Zaman Brimi</label>
                                        <select id="StokZamanBirimi" class="form-control">
                                            <option selected>Seçiniz</option>
                                            <option value="Yıl">Yıl</option>
                                            <option value="Ay">Ay</option>
                                            <option value="Hafta">Hafta</option>                                         
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-select-label" for="MuhasebeKodu">Muhasebe Kodu</label>
                                        <select id="MuhasebeKodu" name="MuhasebeKodu" class="selectpicker form-control show-tick" data-live-search="true" data-header=" Muhasebe Kodu  " title="Seçiniz.">
                                            <option value="Seçiniz" selected>Seçiniz.</option>
                                            @foreach (System.Data.DataRow row in Model.dt.Tables[0].Rows)
                                            {
                                                <option value="@row["Id"]" data-subtext="@row["MUHASEBE_ADI"]">@row["MUHASEBE_KODU"] </option>
                                            }                                       
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="stokDepoAdi">Depo Adı</label>
                                        <select id="StokDepoAdi" class="form-control">
                                            <option selected>Seçiniz</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="stokCari">Cari/Satici Kodu</label>
                                        <select id="StokDepoAdi" class="form-control ">
                                            <option selected>Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="stokEn">En</label>
                                                <input id="stokEn" name="stokEn" type="text" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="stokBoy">Boy</label>
                                                <input id="stokBoy" name="stokBoy" type="text" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="stokYukseklik">Yükseklik</label>
                                                <input id="stokYukseklik" name="stokYukseklik" type="text" class="form-control ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label for="stokOlcuBirimi">Miktar</label>
                                                <input id="stokOlcuBirimi" name="stokOlcuBirimi" type="text" class="form-control ">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="stokOlcuBirimiCombo">Birimi</label>
                                                <select id="stokOlcuBirimiCombo" class="form-control">
                                                    <option selected>Seçiniz</option>
                                                    <option value="Kg">Kg</option>
                                                    <option value="Litre">Litre</option>
                                                    <option value="Adet">Adet</option>
                                                    <option value="Koli">Koli</option>
                                                    <option value="Metre">Metre</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>                          
                             </div>
                        </div>
                        
                        <div class="tab-pane fade" id="fiyat" role="tabpanel" aria-labelledby="fiyat">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="stokSatisFiyat">Satis Fiyatı</label>
                                        <input id="stokSatisFiyat" name="stokSatisFiyat"  type="text" class="form-control " >
                                    </div>
                                </diV>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="stokSatisFiyatKDV">Satis Fiyatı KDV</label>
                                        <input id="stokSatisFiyatKDV" name="stokSatisFiyatKDV"  type="text" class="form-control " >
                                    </div>
                                </diV>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="stokAlisFiyat">Alış Fiyatı</label>
                                        <input id="stokAlisFiyat" name="stokAlisFiyat"  type="text" class="form-control " >
                                    </div>
                                </diV>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="stokAlisFiyatKDV">Alış Fiyatı KDV</label>
                                        <input id="stokAlisFiyatKDV" name="stokSatisFiyatKDV"  type="text" class="form-control " >
                                    </div>
                                </diV>
                            </div>
                        </div>
                     </div>
                </div>
                <!-- /.card-body -->

                <!-- card-footer -->
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-danger" id="cariKartSil">
                        <i class="fas fa-trash-alt"></i>
                        &nbsp;Sil
                    </button>
                    <button type="button" class="btn btn-primary" id="cariKartVazgec">
                        <i class="fa fa-backward"></i>
                        &nbsp;Vazgeç
                    </button>
                    <button type="submit" class="btn btn-primary" id="cariKartKaydet">
                        <i class="fa fa-save"></i>
                        &nbsp;Kaydet
                    </button>
                </div>
                <!-- //.card-footer -->
            </div>

        </form>
    </div>
</div>

