
@{
    Layout = "~/Views/Stock/StockCardRecords/_LayoutStockCardRecords.cshtml";
    ViewData["Title"] = "StockCard2";
}

    <div class="container"  >
        <div class="row">
            <div class="col-md-12">
               
                <div class="row">
                    <div class="col-md-12">

                        <div class="row mt-2">
                            <div class="col-md-3">
                            
                                <label for="stok_kodu">Stok kodu:</label>
                            </div>
                            <div class="col-md-9 text-start">
                            <select id="STOK_ADI" name="STOK_ADI" class="form-control">
                                <option value="">Seçiniz</option>
                              
                            </select>
                            </div>
                        
                        </div>


                    <div class="row mt-2">
                        <div class="card">
                            <div class="card-header">
                                Rapor Kodları
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="stok_kodu">Cari/S Kodu</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="STOK_ADI" name="STOK_ADI" class="form-control">
                                            <option value="">Seçiniz</option>

                                        </select>
                                    </div>
                                  
                                </div>

                              
                                <div class="row mt-1">
                                    <div class="col-md-2">
                                        <label for="stok_kodu">Ölçü Birimi</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="STOK_ADI" name="STOK_ADI" class="form-control">
                                            <option value="">Seçiniz</option>

                                        </select>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="number">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-1">
                                        <label for="stok_kodu">En</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="number">
                                    </div>
                                    <div class="col">
                                        <label for="stok_kodu">Boy</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="number">
                                    </div>
                                    <div class="col">
                                        <label for="stok_kodu">Yükseklik</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="number">
                                    </div>
                                </div>
                              
                             
                            </div>
                        </div>
                    </div>








                </div>
                  
                    

                    </div>
                </div>
                </div>
           

            </div>
      

