
@{
    Layout = "~/Views/Stock/StockCardRecords/_LayoutStockCardRecords.cshtml";
    ViewData["Title"] = "StockCard2";
}

    <div class="container"  >
        <div class="row">
            <div class="col-md-12">
               
                <div class="row">
                    <div class="col-md-6">

                        <div class="row mt-2">
                            <div class="col-md-3">
                            
                                <label for="stok_kodu">Stok kodu:</label>
                            </div>
                            <div class="col-md-9 text-start">
                                <input class="form-control " id="stok_kodu" type="text">
                            </div>
                        
                        </div>


                    <div class="row mt-2">
                        <div class="card">
                            <div class="card-header">
                                Rapor Kodları
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="stok_kodu">Cari/S Kodu</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="text">
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-success">btn</button>
                                    </div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col">
                                        <label for="stok_kodu">Üretici Kodu</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="text">
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-success">btn</button>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col">
                                        <label for="stok_kodu">Ölçü Birimi</label>
                                    </div>
                                    <div class="col">
                                        <div class="custom-select">
                                            <select>
                                                <option value="0">Kg:</option>
                                                <option value="1">Ad</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="number">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-1">
                                        <label for="stok_kodu">En</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="number">
                                    </div>
                                    <div class="col">
                                        <label for="stok_kodu">Boy</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="number">
                                    </div>
                                    <div class="col">
                                        <label for="stok_kodu">Yükseklik</label>
                                    </div>
                                    <div class="col">
                                        <input class="form-control " id="stok_kodu" type="number">
                                    </div>
                                </div>
                              
                             
                            </div>
                        </div>
                    </div>








                </div>
                    <div class="col-md-6 " >
              

                        <div class="row mt-2">
                           
                            <div class="col-md-12 text-start">
                                <input class="form-control " id="stok_kodu" type="text">
                            </div>
                          
                        </div>
                    <div class="card">
                        <div class="card-header">
                            Ambar Giriş/Çıkış
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <label for="stok_kodu">Çıkış Yeri</label>
                                </div>
                                <div class="col">
                                    <div class="custom-select">
                                        <select>
                                            <option value="0">Ad:</option>
                                            <option value="1">Ad</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <label for="stok_kodu">Mamul Grup</label>
                                </div>
                                <div class="col">
                                    <input class="form-control " id="stok_kodu" type="number">
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-success">btn</button>
                                </div>


                            </div>




                        </div>
                    </div>

                        
                     
                        </div>


                        <div class="row mt-4">
                            
                           
                        
                
                        <div class="col-md-6">
                         
                            <div class="row mt-2">
                                <div class="card">     
                                    <div class="card-body">
                                <div class="col-md-3">
                                    <label for="stok_kodu">İşletmelerde Ortak</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-5 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                                <div class="col-md-1 ">
                                    <button type="button" class="btn btn-success">btn</button>
                                </div>
                                <div class="col-md-5 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                                <div class="col-md-1 ">
                                    <button type="button" class="btn btn-success">btn</button>
                                 </div>
                                
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <label for="stok_kodu">Şubelerde Ortak</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-5 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                                <div class="col-md-1 ">
                                    <button type="button" class="btn btn-success">btn</button>
                                </div>
                                <div class="col-md-5 text-start">
                                    <input class="form-control " id="stok_kodu" type="text">
                                </div>
                                <div class="col-md-1 ">
                                    <button type="button" class="btn btn-success">btn</button>
                                 </div>
                                
                            </div>

                        </div>
                   </div>
                 </div>
                        </div>

                    </div>
                </div>
                </div>
           

            </div>
      

